.sp-grading-field-container .col-field-name{ width: 70%; }
.sp-grading-field-container .col-field-type{ width: 15%; }
.sp-grading-field-container .col-field-del{ width: 15%; }
.sp-grading-field-container{
    width: 100%;
    border: 1px solid silver;
    padding: 15px;
}
.sp-grading-field-container tr{
    text-align: left;
}
.sp-grading-field-container tr:hover .sp-grading-delete{
    visibility: visible;
}
.sp-grading-delete:hover{
    text-decoration: underline;
}
.sp-grading-delete{
    visibility: hidden;
    color: darkred;
    cursor: pointer;
}
.grading-field-editable{
    cursor: pointer;
}

.grading-field-editable:hover{
    font-weight: bold;
}